/* BODY */
body {
  margin: 0;
}
/* HEADER */
ul {
  
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  list-style-type: none;
  padding: 0 16px;
}
/* MAIN */
.section {
  justify-items: center;
}

.padding {
  text-align: center;
  justify-items: center;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%; 
  bottom: 0;
}

/* IMG */
.img {
  max-width: 32px;
}

.imgfoot {
  justify-content: flex-end;
  width: 128px;
  height: 128px;
}

